body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  padding: 12px 16px;
  min-width: 160px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  color: var(--secondary-text-color-theme-dark);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color-theme-dark);
}

.modal-btn-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.description-theme-dark {
  color: var(--primary-text-color-theme-dark);
}

.description-theme-light {
  color: var(--primary-text-color-theme-light);
}

.overtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.overtitle-theme-dark {
  color: rgba(157, 164, 189, 0.6);
}

.overtitle-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 33;
  letter-spacing: 0.1em;
  color: var(--secondary-text-color-theme-dark);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-number {
  margin-right: 40px;
  margin-left: auto;
  font-weight: 600;
  font-size: 12px;
  line-height: 1, 33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-text-color-theme-dark);
}

.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}

.hero-container {
  display: flex;
}

.hero-left-side {
  width: 100px;
}

.social-link-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1, 36;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-link-list-link:hover,
.social-link-list-link:focus {
  color: var(--accent-color);
}

.hero-right-side {
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero-background.jpg");
  background-size: cover;
  background-color: var(--secondary-text-color-theme-light);
  padding-top: 272px;
  padding-bottom: 206px;
  padding-left: 100px;
  flex-grow: 1;
}

.overtitle-hero {
  color: rgba(157, 164, 189, 0.6);
}

.main-title {
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1, 18;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.hero-description {
  max-width: 400px;
}

.about-container {
  display: flex;
  flex-basis: calc((100% - 30px) / 2);
  gap: 30px;
  justify-content: space-between;
}

.about-right-side {
  margin-left: 34px;
}

.about-gallery {
  display: flex;
  flex-basis: calc((100% - 30px) / 2);
  gap: 30px;
  justify-content: space-between;
}

.title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #303030;
}

.title-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.about-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-description {
  margin-bottom: 20px;
  width: 500px;
}

.description-about {
  max-width: 480px;
  margin-right: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.services {
  background-image: url("../images/services-background.png");
  background-size: cover;
  background-color: #111319;
}

.services-list-wrapper {
  display: flex;
}

.services-list {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
}

.services-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.title-theme-dark {
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 44px;
}

.services-list-item {
  display: flex;
  justify-content: space-between;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 66;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-dark);
}

.services-modal-button {
  display: block;
  margin: 0 auto;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages-left-side,
.advantages-right-side {
  flex-basis: calc((100% - 30px) / 2);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.advantages-list-item {
  width: 170px;
  min-height: 133px;
  padding: 21px;
}

.advantages-list-item:nth-child(even) {
  margin-top: 30px;
}

.advantages-list-quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}

.advantages-desctiption {
  max-width: 460px;
  margin-top: 20px;
}

.employees-section {
  background-color: #F7F7F7;
}

.employees-section .title {
  margin-bottom: 44px;
}

.employees-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.employees-card {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.employees-content-wrapper {
  padding-top: 30px;
  padding-left: 82px;
  padding-right: 82px;
}

.employees-name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.employees-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.gallery-overtitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-list-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.contact-list-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-overtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.footer-work-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

:root {
  --primary-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #303030;
  --accent-color: #ff6c00;
}
/*# sourceMappingURL=main.css.map */