.services {
  background-image: url('../images/services-background.png');
  background-size: cover;
  background-color: #111319;
}
.services-list-wrapper {
  display: flex;
}
.services-list {
  flex-basis: 50%;
  padding: 30px 40px;
  margin-bottom: 50px;
}
.services-list:first-child {
  background-image: linear-gradient(180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%);
}
.services-list:last-child {
  background-image: linear-gradient(180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%);
}
.title-theme-dark {
  color: var(--secondary-text-color-theme-dark);
  margin-bottom: 44px;
}
.services-list-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.services-list-item::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background-color: rgba(var(--primary-text-color-theme-dark), 0.12);
  margin: 0 6px;
}
.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 66;
  letter-spacing: 0.02em;

  color: rgb(var(--primary-text-color-theme-dark));
}
.services-list-name {
  order: -1;
}
.services-modal-button {
  display: block;
  margin: 0 auto;
}