:root {
	--primary-font-family: "Open Sans", sans-serif;
	--secondary-font-family: "Raleway", sans-serif;
	--primary-text-color-theme-dark: #9da4bd;
	--primary-text-color-theme-light: #555555;
	--secondary-text-color-theme-dark: #ffffff;
	--secondary-text-color-theme-light: #303030;
	--accent-color: #ff6c00;
}
body {
	font-family: var(--primary-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
img {
	display: block;
}

address {
	font-style: normal;
}
.list {
	list-style: none;
}

.link {
	text-decoration: none;
}
.section {
	padding-top: 130px;
	padding-bottom: 130px;
}
.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}
.overtitle {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 11px;
	line-height: 1, 36;
	/* identical to box height */

	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.overtitle-theme-dark {
	color: rgba(157, 164, 189, 0.6);
}
.overtitle-theme-light {
	color: var(--secondary-text-color-theme-light);
}
/* HEADER */
.header {
	padding-top: 32px;
	padding-bottom: 32px;
}
.header-container {
	display: flex;
	align-items: center;
}
.navigation {
	display: flex;
	align-items: center;
}
.nav-list {
	display: flex;
	align-items: center;
	margin-left: 70px;
}
.nav-list-item:not(:last-child) {
	margin-right: 40px;
}
.nav-list-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1, 33;
	letter-spacing: 0.1em;

	/* color: var(--secondary-text-color-theme-dark); */
}
.nav-list-link:hover,
.nav-list-link:focus {
	color: var(--accent-color);
}
.contact-number {
	margin-right: 40px;
	margin-left: auto;
	font-weight: 600;
	font-size: 12px;
	line-height: 1, 33;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	/* color: #FFFFFF; */
}
.contact-number:hover,
.contact-number:focus {
	color: var(--accent-color);
}
.modal-button {
	border: 1px solid var(--accent-color);
	border-radius: 25px;
	background-color: transparent;
	font-family: inherit;
	font-weight: 600;
	font-size: 12px;
	line-height: 1, 33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	cursor: pointer;

	/* color: #FFFFFF; */
}
.modal-button:hover,
.modal-button:focus {
	background-color: var(--accent-color);
	color: var(--primary-text-color-theme-light);
}
/* HERO */
.hero-container {
	display: flex;
}
.hero-left-side {
	width: 100px;
}
.social-link-list-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1, 36;
	/* identical to box height */

	letter-spacing: 0.2em;

	color: #303030;
}
.social-link-list-link:hover,
.social-link-list-link:focus {
	color: var(--accent-color);
}
.hero-right-side {
	padding-top: 272px;
	padding-bottom: 206px;
	padding-left: 100px;
}
.main-title {
	margin-bottom: 20px;
	font-family: var(--secondary-font-family);
	font-weight: 700;
	font-size: 72px;
	line-height: 1, 18;
	/* identical to box height */

	letter-spacing: 0.05em;

	/* color: #FFFFFF; */
}
.description {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.66;
	/* or 167% */

	letter-spacing: 0.02em;

	color: var(--primary-text-color-theme-light);
}
/* ABOUT */
.about-container {
	display: flex;
	flex-basis: calc((100% - 30px) / 2);
	gap: 30px;
	justify-content: space-between;
}
.about-right-side {
	margin-left: 34px;
}
.about-gallery {
	display: flex;
	flex-basis: calc((100% - 30px) / 2);
	gap: 30px;
	justify-content: space-between;
}
.title {
	font-family: var(--secondary-font-family);
	font-weight: 700;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;

	color: #303030;
}
.title-theme-light {
	color: var(--secondary-text-color-theme-light);
}
.about-title {
	margin-top: 20px;
	margin-bottom: 20px;
}
.about-description {
	margin-bottom: 20px;
	width: 500px;
}
.description-about {
	margin-right: 40px;
	margin-bottom: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.86;
	/* or 186% */

	letter-spacing: 0.02em;

	color: var(--primary-text-color-theme-light);
}
/* SERVICES */
/* .title-theme-dark {
  color: var(--secondary-text-color-theme-dark);
} */
.services-list-name,
.services-list-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 1, 66;
	/* identical to box height, or 167% */

	letter-spacing: 0.02em;

	color: #9da4bd;
}
/* ADVANTAGES */
.advantages-list-quantity {
	font-weight: 700;
	font-size: 42px;
	line-height: 57px;
	text-align: center;
	letter-spacing: 0.05em;

	color: #303030;
}
.advantages-list-description {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	text-align: center;

	color: #303030;
}
.description-theme-light {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	/* or 167% */

	letter-spacing: 0.02em;

	color: var(--primary-text-color-theme-light);
}
/* EMPLOYEES */
.employees-name {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.02em;

	color: #303030;
}
.employees-position {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.02em;

	color: #ff6c00;
}
/* PICTURES */
/* CONTACT FORM */
/* CONTACTS */
/* FOOTER */
.contact-list-item {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	/* or 167% */

	letter-spacing: 0.02em;

	color: #9da4bd;
}
.footer-overtitle {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	/* identical to box height */

	letter-spacing: 0.1em;
	text-transform: uppercase;

	/* color: #FFFFFF; */
}
.footer-work-hours {
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	/* identical to box height, or 167% */

	letter-spacing: 0.02em;

	color: #9da4bd;
}
.copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: 15px;
	/* identical to box height */

	letter-spacing: 0.2em;

	color: #9da4bd;
}
